<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>brypt generator</title>
  </head>
  <body>
    <h1 style='color: red'><%= message %></h1>
    <form action="/generate" method="post">
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="">
      </div>
      <div>
        <label for="password_confirmation">Password again:</label>
        <input type="password" name="password_confirmation" id="password_confirmation" value="">
      </div>
      <div>
        <input type="submit" name="submit" id="" value="Generate">
      </div>
    </form>
  </body>
</html>
