<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>brypt generator</title>
  </head>
  <body>
    <h1 style='color: green'>Good job!</h1>
    <div>
      Please send following text to person who sent you here:
      <pre>
        <%= hash %>
      </pre>
    </div>
  </body>
</html>
